<div style="display: block">
 <div class="ico">
    <button class="btn btn-link btn-lg">
        <span class="glyphicon glyphicon-refresh"></span>
    </button>
    <button *ngIf="_employeeService.isEnlarged"class="btn btn-link btn-lg " (click)="onClose()">
        <span class="glyphicon glyphicon-remove"></span>
    </button>
 </div>
 <strong class="head">Employees By Roles</strong>
 <canvas *ngIf="barChartData && barChartLabels" baseChart
          [datasets]="barChartData"
          [labels]="barChartLabels"
          [options]="barChartOptions"
          [legend]="barChartLegend"
          [chartType]="barChartType"></canvas>
 <div *ngIf="!barChartData || !barChartLabels && employees.length==0"><h3>No data to show</h3></div>
 <div *ngIf="!employees">{{errorMessage}}</div>
</div>