<app-navbar></app-navbar>
<div class="container home">
    <flash-messages></flash-messages>
    <router-outlet></router-outlet>
</div>

















<!--The content below is only a placeholder and can be replaced.-->
<!--<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!

  </h1>
  <div class="container">
    <div class="row">
  <div class="col-lg-6" style='border:20px solid;border-color:blue;'>
      <app-dev-employee-by-project style="background-color:aliceblue"></app-dev-employee-by-project> 
  </div>
  <div class="col-lg-6">
      <app-employee-by-title></app-employee-by-title>
  </div>
  <div class="col-lg-6">
      <app-employee-by-region></app-employee-by-region>
  </div>
</div>
<div class="row">
  <div class="col-lg-6">
      <app-employee-by-join-date></app-employee-by-join-date>  
  </div>
  <div class="col-lg-6">
      <app-employee-by-company-join-date></app-employee-by-company-join-date>
  </div>
  <div class="col-lg-6">
      <app-employee-by-address></app-employee-by-address>
  </div>
</div>
</div>-->
  
  
  
  
  